.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;

}

.dashboard-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2c3e50;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.navbar-actions button {
  font-weight: 600;
}

.custom-add-button {
  background-color: #1976d2;
  border: none;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
}
